section{
	// padding-top:2rem ;
	h2{
		padding-top:2rem ;
		padding-left: .4rem;
	}
	.detail-title{
		padding-top:2rem ;
		padding-bottom: 1.6rem;
		text-align: center;
	}
	.detail-list{
		padding: 0 .5rem;
	// a{
	// 	font-size: .4rem;
	// 	color: #999;!important;
	// }
	}
}