header{
	h1{
		padding-top:0.625rem ;
		padding-left: 0.625rem;
	}
	ul{
		display: flex;
		justify-content: space-around;
		li{
			display: flex;
			flex-direction: column;
			margin-top: 0.625rem;
			text-align: center;
			i{
				width: 1.8rem;
				height: 1.8rem;
				line-height: 1.8rem;
				font-size: .8rem !important;
				background-color: #fff;
				border-radius: 50%;
				box-shadow: 0.125rem 0.0625rem .1rem #ccc;
			}
			span{
				margin-top:0.425rem ;
				font-size: 0.5rem;
				
			}
		}
	}
	
}
footer{
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	height: 4rem;
	div{
		width: 100%;
		height: 2rem;
		i{
			position:absolute;
			left: 50%;
			top:0;
			width: 2rem;
			line-height: 2rem;
			font-size: .9rem !important;
			text-align: center;
			background-color: #fff;
			border-radius: 50%;
			box-shadow: 0.125rem 0.0625rem .1rem #ccc;
			transform: translate(-50%,-50%);
		}
	}
	ul{
		display: flex;
		justify-content: space-around;
		li{
			i{
				font-size: .8rem !important;
			}
			span{
				font-size: .5rem;
			}
		}
	}
}